.box {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20vh;
  bottom: 15vh;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: mymove 1s;
}
@keyframes mymove {
  50% {
    transform: rotate(-10deg);
  }
}
.box > div {
  padding: 15px;
}

.box .top-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-300);
}

.top-box .top-box__left {
  font-weight: 500;
}

.top-box .top-box__right {
  font-style: italic;
  font-size: 14px;
  padding: 3px 10px;
  background-color: var(--color-gray-300);
}

.box .body-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
}

.body-box .body-box__right {
  height: 30px;
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-gray-100);
  background-color: #48b0f7;
  margin-bottom: 10px;
  width: fit-content;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 1.4; */
}

.body-box .body-box__left {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.body-box .body-box__left img {
  border-radius: 50%;
  background-color: var(--color-gray-100);
  margin-right: 5px;
  width: 40px;
}

.body-box .body-box__left div {
  padding: 10px;
  border-radius: 5px;
  color: var(--color-gray-500);
  background-color: var(--color-gray-100);
  margin-bottom: 10px;
}
.box .bottom-box {
  display: flex;
  border-top: 1px solid var(--color-gray-300);
}

.bottom-box .bottom-box__left {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.bottom-box__left img {
  border-radius: 50%;
  background-color: var(--color-gray-100);
  margin-right: 5px;
  width: 40px;
}

.bottom-box input {
  border: 0;
}

.bottom-box input:focus {
  outline: none;
}

.bottom-box .bottom-box__icon {
  font-size: 20px;
  font-weight: 500;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--color-gray-500);
}
.bottom-box .bottom-box__icon i:first-child {
  transform: rotate(90deg);
}
.bottom-box .bottom-box__icon i:last-child {
  color: #48b0f7;
}
