.popup {
  /* display: none; */
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 10px;
  border-radius: 8px;
}

.popup .infor {
  display: flex;
  height: 100%;
}

.infor img {
  height: 90%;
}

.description {
  font-style: italic;
  flex-grow: 1;
}

.description .icon {
  text-align: end;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.description .name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.description .price {
  font-weight: 500;
  color: var(--color-gray-500);
  margin-bottom: 5px;
}

.description .desc {
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-gray-500);
}

.description button {
  font-style: italic;
  color: var(--color-gray-200);
  background-color: var(--color-gray-800);
  border: 0;
  padding: 5px 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
