.history {
  font-size: 24px;
  font-style: italic;
  padding: 20px 0;
}

.table {
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.table th {
  padding: 10px 10px;
  background-color: var(--color-gray-100);
}

.table td {
  color: var(--color-gray-500);
  padding: 20px 0;
}

.table .btnView a {
  padding: 5px 10px;
  text-decoration: none;
  font-style: italic;
  color: var(--color-gray-500);
  cursor: pointer;
  border: 1px solid var(--color-gray-800);
}

.btnView i {
  color: black;
}
